:root {
  --primary: #0d0c0c;
  --secondary: #dd7e43;
  --navColor: #868686;
  --font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

/* nav-start */
.wrapper {
  width: 100%;
  height: 100vh;
  background: url(./img/coffee_cover5.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

.wrapper::after {
  content: " ";
  width: 100%;
  height: 100vh;
  background-color: #0d0c0c69;
  position: absolute;
  z-index: 1;
}

.wrapper .content-box {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.wrapper .content-box h1 {
  color: #fff;
  font-size: 3em;
  margin-top: 50px;
}

.wrapper .content-box h3 {
  color: #fff;

  margin: 20px 0 80px 0;
}

.wrapper .content-box button {
  border: none;
  padding: 20px 40px;
  border-radius: 2px;
  background-color: var(--secondary);
  color: #fff;
  font-weight: bold;
}

.wrapper header nav {
  position: absolute;
  width: 100%;
  height: 19vh;
  background-color: var(--primary);
  z-index: 50;
}

.nav-active {
  position: fixed !important;
  height: 10vh !important;
  transition: all 0.4s ease;
}

.wrapper header nav div.logo {
  width: 25vw;
  max-width: 125px;
}

.wrapper header nav div.logo img {
  width: 100%;
  height: 100%;
}

.menuContainer ul li {
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px;
  transition: all 0.5s ease;
}

.active {
  background-color: var(--secondary);
}
.active a {
  color: #fff !important;
}
.menuContainer ul li a {
  text-decoration: none;
  color: var(--navColor);
  font-family: var(--font-family);
  transition: all 0.4s ease;
  font-size: 1.2rem;
}
.menuContainer ul li.plusIcon {
  display: none;
}

.menuContainer ul li a:hover {
  color: #fff;
}

.shop-container > div span,
i {
  color: var(--navColor);
  padding: 10px;
  margin: 0 10px;
}
.shop-container > div span:hover,
.shop-container > div i:hover {
  color: #fff;
}

.custom {
  border-radius: 20px;
  transition: all 0.4s ease;
  position: relative;
  cursor: pointer;
}

.toSelectLang {
  position: absolute;
  background-color: #658791;
  width: 160px;
  border-radius: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  z-index: 3;
  cursor: pointer;
}
.toSelectLang_Toggle {
  display: none;
}
.toSelectLang_switch {
  display: block !important;
}

.toSelectLang div {
  margin: 10px 0;
}
.toSelectLang div span {
  color: #fff !important;
}
.custom:hover {
  background-color: #658791;
}
.custom:hover span,
.custom:hover i {
  color: #fff;
}
.custom-select div img {
  width: 20px;
  border-radius: 50%;
  height: 20px;
  margin: 0 5px;
}
.custom-select div span {
  color: var(--navColor);
}

.menu-bar {
  display: none;
  font-size: 20px;
}

/* nav-end */

/* main-start */

main {
  width: 100%;
  padding: 20px;
  /* background: url(./img/second_coffee.webp) no-repeat;
  background-size: cover; */
}

main .coffee_list_group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

main .coffee_list_group .coffee_list_item {
  width: 260px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: all 0.2s ease;
}

/* main .coffee_list_group .coffee_list_item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

main .coffee_list_group .coffee_list_item:hover img {
  transform: scale(1.1);
}

main .coffee_list_group .coffee_list_item img {
  width: 100%;
  height: 250px;
  transition: 0.5s;
}

main .coffee_list_group .coffee_list_item h3 {
  color: rgb(158, 11, 36);
  font-style: italic;
  margin: 10px 0;
}
main .coffee_list_group .coffee_list_item a {
  text-decoration: none;
  width: 100%;
  height: 40px;
  background-color: var(--secondary);
  color: #fff;
  border-radius: 3px;
  display: grid;
  place-items: center;
}

/* main-end */

/* alert-box start */

.alert_box_container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.438);
  position: fixed;
  z-index: 60;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.alert_box_container .alert_box {
  width: 70%;
  height: 90%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.alert_box_container .alert_box img {
  width: 50%;
}

.alert_box_container .alert_box .content-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alert_box_container .alert_box .content-box .content > h2,
p,
h3 {
  margin: 20px;
  /* text-align: justify; */
}

.multiple-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.multiple-icon i {
  font-size: 30px;
}

/* alert-box end */

/* mediaQuery */

@media screen and (max-width: 960px) {
  .wrapper header nav {
    height: 15vh;
  }
  .wrapper header nav div.logo {
    width: 25vw;
    max-width: 115px;
  }

  .menuContainer ul li.contentUs,
  .menuContainer ul li.FAQs {
    display: none !important;
  }
  .menuContainer ul li.plusIcon {
    display: block !important;
  }
}

@media screen and (max-width: 820px) {
  .wrapper header nav {
    height: 10vh;
  }
  .wrapper header nav div.logo img {
    max-width: 95px;
  }
  .menuContainer {
    position: absolute;
    top: -300px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary);
    padding: 10px 0;
    transition: top 0.4s ease;
    z-index: -10;
  }
  .menuContainer ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: -10;
  }
  .menuContainer ul li {
    width: 100%;
    text-align: center;
  }
  .shop-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .menu-bar {
    display: block;
  }
  .menuContainer ul li.contentUs,
  .menuContainer ul li.FAQs {
    display: block !important;
  }

  .menuContainer ul li.plusIcon {
    display: none !important;
  }
  .menu-bar-active {
    top: 60px;
  }

  .alert_box_container .alert_box {
    width: 90%;
    height: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .alert_box_container .alert_box img {
    width: 100%;
    height: 50%;
    object-fit: contain;
  }

  .alert_box_container .alert_box .content-box {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 300px) {
  .wrapper header nav {
    height: 10vh;
  }
  .custom span {
    display: none;
  }
}

/* display */
.d-flex {
  display: flex;
}

.justify-con-space-around {
  justify-content: space-around;
}
.justify-con-space-btw {
  justify-content: space-between;
}
.align-itm-center {
  align-items: center;
}

/* margin */
.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}
